{% extends 'base.html' %}

		{% block head %}

			<title>Boas Vindas</title>

		{% endblock %}



		{% block body %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		.button {
		  display: inline-block;
		  padding: 15px 25px;
		  font-size: 24px;
		  cursor: pointer;
		  text-align: center;
		  text-decoration: none;
		  outline: none;
		  color: #fff;
		  background-color: #4CAF50;
		  border: none;
		  border-radius: 15px;
		  box-shadow: 0 2px #999;
		}

		.button:hover {background-color: #3e8e41}

		.button:active {
		  background-color: #3e8e41;
		  box-shadow: 0 2px #666;
		  transform: translateY(2px);
		}
</style>

		<body bgcolor=#FFFFFF>
		<center><h1>Bem vindo a Best Bud!</h1><br>

			<button id="init" class="button" onClick="window.location.href='./check_age/'">INICIAR</button></center>

	</body>
<br>
		{% endblock %}
